h1 {
  text-align: center;
  margin: 1em;
}

hr {
  margin-top: 1em;
  margin-bottom: 1em;
}

.warning {
  color: darkred;
  font-size: 2em;
  text-align: center;
  margin: 2em;
}

h2 {
  text-align: center;
  margin-top: 2em;
}

h3 {
  text-align: center;
  margin-top: 1em;
}

.proddesc {
  text-align: justify;
  width: 50%;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  display: block;
}

.buy {
  text-align: center;
  margin-top: 0.5em;
}

.copyright {
  text-align: center;
}
