blockdiagram.png
esp32-c6/build/
esp32-c6/managed_components/
esp32-s3/build/
esp32-s3/managed_components/
kicad/dankdryer-backups/
kicad/*.csv
kicad/*.drl
kicad/*.gbr
kicad/*.gbrjob
kicad/*.kicad_prl
kicad/*.pdf
kicad/*.png
kicad/*.rpt
kicad/*.zip
kicad/fp-info-cache
kicad/microboard/microboard-backups/
kicad/microboard/*.csv
kicad/microboard/*.drl
kicad/microboard/*.gbr
kicad/microboard/*.gbrjob
kicad/microboard/*.kicad_prl
kicad/microboard/*.pdf
kicad/microboard/*.png
kicad/microboard/*.rpt
kicad/microboard/*.zip
kicad/microboard/fp-info-cache
kicad/production/
kicad/report.txt
out
