blockdiagram.png
esp32-c6/build/
esp32-c6/main/dryer-network.h
esp32-c6/managed_components/
esp32-s3/build/
esp32-s3/main/dryer-network.h
esp32-s3/managed_components/
kicad/dankdryer-backups/
kicad/*.csv
kicad/*.drl
kicad/*.gbr
kicad/*.gbrjob
kicad/*.kicad_prl
kicad/*.pdf
kicad/*.png
kicad/*.zip
kicad/fp-info-cache
out
